## Working with Pandas

    1. Pandas Series - 1D data
    2. Pandas Dataframe - 2D data
    
    - Data import / export
    - Data cleaning
    - Data manipulation, data aggregation, statistical analysis

In [1]:
import pandas as pd

In [2]:
# importign data with pandas
df = pd.read_csv(r"D:\AI\data\datasets-1\datawh.csv")
df.shape

(20, 5)

In [3]:
df.to_json("datawh.json")

In [4]:
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality
0  30-04-2018          218       182         4            2
1  01-05-2018         2592       182         3            2
2  02-05-2018          509       439         4            0
3  03-05-2018         2439        53         5            1
4  04-05-2018          824       444         5            0

### Statistical analysis

In [5]:
df.describe()

       Temperature    Humidity   Pressure  Air Quality
count    20.000000   20.000000  20.000000    20.000000
mean   1461.200000  328.050000   2.950000     1.150000
std     834.100688  148.623323   1.820208     0.812728
min     109.000000   53.000000   0.000000     0.000000
25%     787.500000  186.500000   1.000000     0.750000
50%    1390.000000  342.500000   3.000000     1.000000
75%    2176.000000  440.000000   4.250000     2.000000
max    2945.000000  535.000000   5.000000     2.000000

In [6]:
df.mean()

Temperature    1461.20
Humidity        328.05
Pressure          2.95
Air Quality       1.15
dtype: float64

In [7]:
df.Temperature.mean(),df.Temperature.median(),df.Temperature.var(),df.Temperature.min()

(1461.2, 1390.0, 695723.9578947368, 109)

In [8]:
df.Temperature.max(),df.Temperature.std(),df.Temperature.skew(),df.Temperature.kurt()

(2945, 834.1006881035028, 0.11175266975855103, -1.0525996865252307)

## Data Cleaning

    - Handle duplicated rows/entries
        - check duplicity with context to key/identifier - drop duplicated entry, keep the latest one
        
    - Handle missing values
        - the data is missing because it does not exist
            - we do not impute missing value, 
            - Conver the column in binary / categorical variable
            
        - the data exists but is missing for some system/human error
            - if any column has more than 80% of values missing, drop that column
            - if any rows has more than 60% of values missing, drop that row
            - if the column has missing values less than 5%-20%, go for statistical imputations - mean/median/mode
            - else - go for ML based imputation
            
    - Handle unwanted columns
    - Handle outliers and unnatural values
        - if the % of outliers is less than 1% of data volume - you can consider dropping those rows
        - otherwise - capping - replacing outliers by nearest inliers.

In [9]:
df = pd.read_csv(r"D:\AI\data\datasets-1\datawh_missing.csv",na_values=[".","?"])
df.shape

(23, 7)

In [10]:
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality  Day id  Vibration
0  30-04-2018        218.0     182.0       4.0          2.0       1         45
1  01-05-2018          NaN     182.0       3.0          2.0       2         56
2  02-05-2018          NaN     439.0       NaN          0.0       3         45
3  03-05-2018       2439.0      53.0       5.0          1.0       4         23
4  04-05-2018        824.0     444.0       5.0          NaN       5         35

#### Duplicate entries

In [11]:
#check for duplicated rows
df.duplicated().sum()

2

In [12]:
# to check which rows are duplicates
df[df.duplicated(keep=False)]

,Dates,Temperature,Humidity,Pressure,Air Quality,Day id,Vibration
19,19-05-2018,766.0,535.0,3.0,2.0,20,39
20,19-05-2018,766.0,535.0,3.0,2.0,20,39
21,19-05-2018,766.0,535.0,3.0,2.0,20,39

In [13]:
# drop the duplicates keeping the last entry
df.drop_duplicates(keep='last',inplace=True)

In [14]:
#check for duplicated rows
df.duplicated().sum()

0

#### Handling missing data

In [15]:
# check for missing data
df.isnull().sum()

Dates          0
Temperature    7
Humidity       3
Pressure       7
Air Quality    2
Day id         0
Vibration      0
dtype: int64

In [16]:
df

,Dates,Temperature,Humidity,Pressure,Air Quality,Day id,Vibration
0,30-04-2018,218.0,182.0,4.0,2.0,1,45
1,01-05-2018,NaN,182.0,3.0,2.0,2,56
2,02-05-2018,NaN,439.0,NaN,0.0,3,45
3,03-05-2018,2439.0,53.0,5.0,1.0,4,23
4,04-05-2018,824.0,444.0,5.0,NaN,5,35
5,05-05-2018,1744.0,NaN,5.0,1.0,6,26
6,06-05-2018,786.0,NaN,5.0,1.0,7,25
7,07-05-2018,1326.0,309.0,NaN,1.0,8,26
8,08-05-2018,1804.0,188.0,NaN,2.0,9,25
9,09-05-2018,NaN,420.0,0.0,1.0,10,35
10,10-05-2018,2524.0,433.0,1.0,0.0,11,45
11,11-05-2018,2945.0,149.0,NaN,0.0,12,41
12,12-05-2018,NaN,531.0,1.0,1.0,13,45
13,13-05-2018,1318.0,360.0,3.0,2.0,14,45
14,14-05-2018,NaN,435.0,NaN,2.0,15,42
15,15-05-2018,NaN,259.0,4.0,0.0,16,35
16,16-05-2018,NaN,NaN,NaN,NaN,17,36
17,17-05-2018,2200.0,325.0,3.0,2.0,18,35
18,18-05-2018,1722.0,523.0,NaN,2.0,19,38
21,19-05-2018,766.0,535.0,3.0,2.0,20,39
22,20-05-2018,1500.0,480.0,4.0,1.0,21,99

In [17]:
# drop the rows where more than 60% of values are missing, 7*0.6 = 4, 
# we want to drop rows having less than or equal to 3 real values
print(df.shape)
df.dropna(thresh=4,inplace=True)
print(df.shape)

(21, 7)
(20, 7)

In [18]:
df

,Dates,Temperature,Humidity,Pressure,Air Quality,Day id,Vibration
0,30-04-2018,218.0,182.0,4.0,2.0,1,45
1,01-05-2018,NaN,182.0,3.0,2.0,2,56
2,02-05-2018,NaN,439.0,NaN,0.0,3,45
3,03-05-2018,2439.0,53.0,5.0,1.0,4,23
4,04-05-2018,824.0,444.0,5.0,NaN,5,35
5,05-05-2018,1744.0,NaN,5.0,1.0,6,26
6,06-05-2018,786.0,NaN,5.0,1.0,7,25
7,07-05-2018,1326.0,309.0,NaN,1.0,8,26
8,08-05-2018,1804.0,188.0,NaN,2.0,9,25
9,09-05-2018,NaN,420.0,0.0,1.0,10,35
10,10-05-2018,2524.0,433.0,1.0,0.0,11,45
11,11-05-2018,2945.0,149.0,NaN,0.0,12,41
12,12-05-2018,NaN,531.0,1.0,1.0,13,45
13,13-05-2018,1318.0,360.0,3.0,2.0,14,45
14,14-05-2018,NaN,435.0,NaN,2.0,15,42
15,15-05-2018,NaN,259.0,4.0,0.0,16,35
17,17-05-2018,2200.0,325.0,3.0,2.0,18,35
18,18-05-2018,1722.0,523.0,NaN,2.0,19,38
21,19-05-2018,766.0,535.0,3.0,2.0,20,39
22,20-05-2018,1500.0,480.0,4.0,1.0,21,99

In [19]:
df.skew()

Temperature    0.047677
Humidity      -0.469442
Pressure      -0.780891
Air Quality   -0.410217
Day id         0.108418
Vibration      2.506968
dtype: float64

In [20]:
df.Temperature.fillna(df.Temperature.mean(),inplace=True)
df.fillna(df.median(),inplace=True)

In [21]:
# check for missing data
df.isnull().sum()

Dates          0
Temperature    0
Humidity       0
Pressure       0
Air Quality    0
Day id         0
Vibration      0
dtype: int64

### Handling unwanted columns

In [22]:
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality  Day id  Vibration
0  30-04-2018   218.000000     182.0       4.0          2.0       1         45
1  01-05-2018  1579.714286     182.0       3.0          2.0       2         56
2  02-05-2018  1579.714286     439.0       3.5          0.0       3         45
3  03-05-2018  2439.000000      53.0       5.0          1.0       4         23
4  04-05-2018   824.000000     444.0       5.0          1.0       5         35

In [23]:
df.drop(columns=["Day id"],inplace=True)
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality  Vibration
0  30-04-2018   218.000000     182.0       4.0          2.0         45
1  01-05-2018  1579.714286     182.0       3.0          2.0         56
2  02-05-2018  1579.714286     439.0       3.5          0.0         45
3  03-05-2018  2439.000000      53.0       5.0          1.0         23
4  04-05-2018   824.000000     444.0       5.0          1.0         35

### Handling outliers and unantural values
    - boxplot approach
    - z score approach
    - skewness approach
        - if skewness >+1 or skewness< -1 == extreme outliers are present

In [24]:
df.skew()

Temperature    0.054894
Humidity      -0.582281
Pressure      -1.048203
Air Quality   -0.372134
Vibration      2.506968
dtype: float64

In [34]:
df.Vibration.max()

56

In [32]:
df.Vibration.quantile(0.99)

54.02

In [36]:
# check how many values are above 99%
(df.Vibration>df.Vibration.quantile(0.99)).sum()

1

In [27]:
# droppping the rows where vibration values are higher than 99% of the column
df = df[df.Vibration<df.Vibration.quantile(0.99)]
df.skew()

Temperature    0.032589
Humidity      -0.498286
Pressure      -0.969746
Air Quality   -0.410217
Vibration      0.002301
dtype: float64

In [30]:
# check how many values are below 0.01%
(df.Pressure<df.Pressure.quantile(0.01)).sum()

1

In [31]:
df.Pressure[df.Pressure<df.Pressure.quantile(0.01)] = df.Pressure.quantile(0.02)
df.skew()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\anshu\AppData\Roaming\Python\Python37\site-packages\pandas\core\generic.py:8765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

Temperature    0.032589
Humidity      -0.498286
Pressure      -0.846662
Air Quality   -0.410217
Vibration      0.002301
dtype: float64