# Health Insurance Annual premium charges prediction using Linear Regression

1. Domain exploration
    - Understanding the business process, common challenges
    - Understanding data sources, sensitivity of data, chances of bad data
    - mindset of stakeholders on shopfloor, customer behaviour from business lense
    - Understanding competitor market
    

2. Data Collection, ETL and Data Exploration
    - identify good data source, inside and outside
    - collect data and build a dataset - data warehousing, data engineering
    - perform generic exploration to assess overall data quality
    
    
3. ETL and data cleaning
    - targeted ETL to derive some business variables, information extraction
    - Handle duplicated entries
    - Handle missing values
    - Handle outliers, unnatural data
    - Handle unwanted columns
    
    
4. Feature Selection / EDA - exploratory data analysis / Root cause analysis
    - statistical research
        - correlation analysis
        - Hypothesis testing - ANOVA, chi square test
        - Mutual Information
        - ML based feature selection techniques
    - data visualization
        - Univariate Analysis
        - Bivaraite Analysis
        - Multivariate Analysis
        
        
5. Pre processing features
    - encoding
    - scaling / normalization
    
    
6. Apply Machine learning algorithms
    - train a model
    
    
7. Performance Analysis

8. Optimization and Tuning

9. Deploy the model to production

10. Performance monitoring in production

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

## 2. Data collection and exploration

In [3]:
# load data
df = pd.read_csv(r"D:\AI\data\datasets-1\insurance.csv")
df.shape

(1338, 7)

In [4]:
df.head()

   age  Gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
df.describe(include='object')

       Gender smoker     region
count    1338   1338       1338
unique      2      2          4
top      male     no  southeast
freq      676   1064        364

Analysis:

    - demographic info: age, gender, region, 
    - health info: bmi, smoker
    
    - charges has outliers, there are some customer who have paid exceptionally higher annual premium charges