<a href="https://colab.research.google.com/github/anshupandey/Machine_Learning_Training/blob/master/Time_Series_Forecasting_with_Prophet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Time series forecasting with prophet

In [ ]:
from fbprophet import Prophet
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [ ]:
!wget -q https://storage.data.gov.sg/civil-aircraft-arrivals-departures-passengers-and-mail-changi-airport-monthly/civil-aircraft-arrivals-departures-passengers-and-mail-changi-airport-monthly.zip
!unzip -q civil-aircraft-arrivals-departures-passengers-and-mail-changi-airport-monthly.zip

In [ ]:
# load data
df = pd.read_csv(r"/content/civil-aircraft-arrivals-departures-and-passengers-changi-airport-monthly.csv")
df.shape

(974, 3)

In [ ]:
df = df[df['level_1']=='Total Passengers']
df.month = pd.to_datetime(df['month'])
df = df[['month','value']]
df.index = df.month
df2 = df['2004-01-01':'2018-12-01']
df2.shape

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

(180, 2)

In [ ]:
df2.head()

                month    value
month
2004-01-01 2004-01-01  2516148
2004-02-01 2004-02-01  2173157
2004-03-01 2004-03-01  2365455
2004-04-01 2004-04-01  2370567
2004-05-01 2004-05-01  2375387

In [ ]:
df2['ds'] = df2.month
df2['y'] = df2['value']
df2 = df2[['ds','y']]
df2.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                   ds        y
month
2004-01-01 2004-01-01  2516148
2004-02-01 2004-02-01  2173157
2004-03-01 2004-03-01  2365455
2004-04-01 2004-04-01  2370567
2004-05-01 2004-05-01  2375387

In [ ]:
df2.shape

(180, 2)

In [ ]:
df2.tail()

                   ds        y
month
2018-08-01 2018-08-01  5682688
2018-09-01 2018-09-01  5225903
2018-10-01 2018-10-01  5376234
2018-11-01 2018-11-01  5408993
2018-12-01 2018-12-01  6127843

In [ ]:
model = Prophet()

In [ ]:
model.fit(df2)

INFO:fbprophet:Disabling weekly seasonality. Run prophet with weekly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [ ]:
test = df['2019-01-01':'2019-12-01']
test

In [ ]:
# test['month'] = test.index

In [ ]:
pred = test[['month']]
pred

In [ ]:
pred['ds'] = pred['month']
pred=pred[['ds']]
pred

                   ds
month
2019-01-01 2019-01-01
2019-02-01 2019-02-01
2019-03-01 2019-03-01
2019-04-01 2019-04-01
2019-05-01 2019-05-01
2019-06-01 2019-06-01
2019-07-01 2019-07-01
2019-08-01 2019-08-01
2019-09-01 2019-09-01
2019-10-01 2019-10-01
2019-11-01 2019-11-01
2019-12-01 2019-12-01

In [ ]:
forecast = model.predict(pred)
forecast.index = test.index
forecast[['yhat']]

In [ ]:
plt.figure(figsize=(12,5))
plt.plot(test['value'],c='g')
plt.plot(forecast['yhat'],c='r')
plt.show()

In [ ]:
from sklearn.metrics import mean_absolute_percentage_error

mean_absolute_percentage_error(test['value'],forecast['yhat'])

0.0116204002702857