# Annual Premium charges prediction using linear regression

1. Domain and Business exploration
    - understanding the business process, common challenges
    - Understand possible data source, identify what are possible other data sources, how data is captured and stored, used
    - Understand mindset of stakeholders on the shopfloor, customer behavior from their lense
    - Explore the competitor markets, products and market size
    
    
2. data collection and data exploration
    - identify the relevant data sources, capture data
    - perform data warehousing, build a dataset
    - perform generic ETL to get right data, extract and dervice relevant columns
    - perform high level quality analysis and exploration on data
    
    
3. ETL and Data Cleaning
    - perform ETL to generate informative columns, convert/standardize data types
    - handle missing data
    - handle duplicated entries
    - handle outliers, unnatural data
    - handle unwanted columns
    
    
4. Feature Selection / Exploratory Data Analysis / Root Cause analytics
    - Statistical Research
        - correlation analysis
        - hypothesis testing: ANOVA, chi square
        - Mutual information
        - other feature selection techniques
        
    - Data visualization
        - univariate analysis
        - bivariate analysis
        - multivariate analysis
        
5. Preprocessng features
    - encoding
    - scaling / normalization
    - train test split
    
    
6. Apply Machine learning algorithms

7. Performance analysis

8. Optimization and tuning

9. Deploy the model to production

10. Monitor the performance in production

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## 2. Data collection and exploration

In [3]:
#load data
df = pd.read_csv(r"D:\AI\data\datasets-1\insurance.csv")
df.shape

(1338, 7)

In [4]:
df.head()

   age  Gender     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [5]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
df.describe(include='object')

       Gender smoker     region
count    1338   1338       1338
unique      2      2          4
top      male     no  southeast
freq      676   1064        364

Analysis:
    
    - demographic info: age, gender, region
    - health: bmi, smoker
    
    - target: charges
    
    - charges may have some outliers

## 3. Data Cleaning