## Working with pandas
    - Pandas Series - 1D data
    - Pandas Dataframe - 2D data
    
    - Data import / export, data manipulation,
    - data CLeaning
    - Data aggregation, wrangling, statistical analysis

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\AI\data\datasets-1\datawh.csv")
df.shape

(20, 5)

In [3]:
df.head()

        Dates  Temperature  Humidity  Pressure  Air Quality
0  30-04-2018          218       182         4            2
1  01-05-2018         2592       182         3            2
2  02-05-2018          509       439         4            0
3  03-05-2018         2439        53         5            1
4  04-05-2018          824       444         5            0

In [4]:
df.to_json("datawh.json")

## Statistical Analysis

In [5]:
df.describe()

       Temperature    Humidity   Pressure  Air Quality
count    20.000000   20.000000  20.000000    20.000000
mean   1461.200000  328.050000   2.950000     1.150000
std     834.100688  148.623323   1.820208     0.812728
min     109.000000   53.000000   0.000000     0.000000
25%     787.500000  186.500000   1.000000     0.750000
50%    1390.000000  342.500000   3.000000     1.000000
75%    2176.000000  440.000000   4.250000     2.000000
max    2945.000000  535.000000   5.000000     2.000000

In [6]:
df.mean()

Temperature    1461.20
Humidity        328.05
Pressure          2.95
Air Quality       1.15
dtype: float64

In [7]:
df.Temperature.min(), df.Temperature.max(), df.Temperature.mean(), df.Temperature.median()

(109, 2945, 1461.2, 1390.0)

In [8]:
df.Temperature.var(), df.Temperature.std(), df.Temperature.skew(), df.Temperature.kurt()

(695723.9578947368,
 834.1006881035028,
 0.11175266975855103,
 -1.0525996865252307)