In [18]:
from skimage import io
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import pytesseract

In [22]:
pytesseract.pytesseract.tesseract_cmd = r"C:\Program Files\Tesseract-OCR\tesseract.exe"

In [4]:
df = pd.read_csv(r"C:\Users\Nitu\Desktop\dataset\updateddf_5classes.csv")
df.shape

(9998, 2)

In [5]:
df.head()

                                         iname  label
0        imagesw/w/x/r/wxr64a00/2064001385.tif      1
1  imagesk/k/j/k/kjk96d00/tcal0350176_0177.tif     10
2   imagesw/w/j/v/wjv60c00/2076832482_2483.tif      1
3     imagesm/m/k/d/mkd16d00/50543781-3782.tif     14
4        imagesx/x/d/p/xdp02e00/2028743987.tif     11

In [7]:
labs = pd.read_csv(r"C:\Users\Nitu\Desktop\dataset\label_names.txt",header=None)
labs.columns=['cat','id']
labs.head()

   cat             id
0    0         letter
1    1           form
2    2          email
3    3    handwritten
4    4  advertisement

In [11]:
mydic = labs.id.to_dict()

In [8]:
myclass = sorted(df.label.unique())
myclass

[1, 3, 10, 11, 14]

In [14]:
main_folder = r"C:\Users\Nitu\Desktop\dataset\textdata"

In [17]:
#create folder
try:
    for cl in myclass:
        clname = mydic[cl]
        os.mkdir(main_folder+"\\"+clname)
except:
    print("folder laready exist")

In [29]:
def img2text(img_path,class_name,idx):
    img = io.imread(img_path)
    text = pytesseract.image_to_string(img)
    loc = main_folder+"\\"+class_name+"\\"+str(idx)+".txt"
    with open(loc,'w') as file:
        file.write(text)
    return loc

In [30]:
final_data = {"textfile":[],"label":[]}

In [ ]:
for i in range(df.shape[0]):
    img_path = r"C:\Users\Nitu\Desktop\dataset\images\\"+df.iname[i]
    class_name = mydic[df.label[i]]
    idx = i
    loc = img2text(img_path,class_name,idx)
    final_data['textfile'].append(loc)
    final_data['label'].append(class_name)

In [ ]:
final_df = pd.DataFrame(final_data)
final_df.to_csv("main_file.csv")